@charset "UTF-8";
/* CSS Document */
body {
	background-image:url(../../giada%20please.jpg);
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 24px;
	
    
	
}
